.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 15px;
}

.wrapper {
	width: 128px;
	height: 128px;
}

.input {
	border-radius: 5px;
	font-size: 25px;
	background-color: burlywood;
}

.button {
	font-size: 25px;
}